* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-general-presupuesto {
    width: 100%;
    height: 100%;
    margin: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.formulario-presupuesto {
    background: rgb(227, 227, 227);
    box-shadow: 2px 2px 7px 2px rgb(116, 112, 87);
    border-radius: 15px;
    width: 80%;
    padding: 5px;
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;

}

.content-marca,
.content-modelo,
.content-anio,
.content-importe {
    width: 40%;
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.formulario-presupuesto select {
    width: 70%;
    height: 35px;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(51, 49, 49);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;

}

.formulario-presupuesto label,
fieldset {
    color: black;
}

.formulario-presupuesto label {
    background: rgb(197, 195, 195);
    width: 30%;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}