*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(255, 255, 255);
    color: aliceblue;
}
header{
  background: rgba(29, 27, 27, 0.9);
  width: 100%;
  
}
.contenedor-general-header{
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgb(29, 28, 28);
}

/* REDES SOCIALES */
.contenedor-redes-sociales{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: end;
    justify-content: end;
}
.contenedor-redes-sociales ul{
    list-style: none;
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-flow: row wrap;

}
.contenedor-redes-sociales ul li{
    background: rgb(255, 79, 79);
    margin: 5px;
    padding: 5px;
    border-radius: 15px 0px 15px 0px;
    border: 1px solid rgb(255, 79, 79);
    
}
.contenedor-redes-sociales ul li:hover{
    background: rgb(38, 36, 36);
    margin: 5px;
    padding: 5px;
    border-radius: 0px 15px 0px 15px;
    border: 1px solid rgb(38, 36, 36);
    box-shadow: 2px 2px 7px 2px white;
    
}
.contenedor-redes-sociales ul li i{
    text-align: center;
    font-size: 25px;
    color: aliceblue;
}

/* CONTENEDOR MENU*/
.contedor-menu{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}
.contedor-menu ul{
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
}
.contedor-menu ul li{
    background: rgb(246, 90, 90);
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    border-radius: 15px 0px 15px 0px;
    border: 2px solid rgb(246, 90, 90);
    box-shadow: 2px 2px 5px 2px white;
}
.contedor-menu ul li:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 0px 15px 0px 15px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 7px 2px white;
}

.contedor-menu ul li i{
    margin-right: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}



/* CARRUSEL FOTOS */
.carrousel{
    width: 100%;
    margin-top: 15px;
  }
  
  .conteCarrousel{
    width: 100%;
    height: 800px;
    overflow: hidden;
    text-align: center;
    
  
  }
  
  .itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
  }
  
  .itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
  }
  
  .itemCarrouselArrows > i:hover {
    cursor: pointer;
  }
  
  
  
  .conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
  }
  
  .itemCarrouselArrows > a > i{
    color: white;
  }
  
  /*FORMULARIO ENVIO */
  .contenedor-general-formulario{
    background: grey;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

  }

  .contenedor-formulario{
    width: 50%;
    height: 100%;
    margin: 1%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .contenedor-contacto{
    background: rgb(34, 32, 32);
    margin: 1%;
    width: 40%;
    height: 600px;
    text-align: center;
  }
  .contenedor-formulario form{
    width: 100%;
    height: 600px;
    background: rgb(49, 48, 48);
    color: rgb(255, 255, 255);
    font-size: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
 
   }
   .contenedor-formulario form input{
    width: 100%;
    height: 40px;
    margin: 5%;
   }
   .contenedor-formulario form label{
    padding: 5px;
    margin: 15%;
   }
.autos-variados{
  background: rgb(115, 115, 115);
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.autos-variados input{
  background: rgba(255, 0, 47, 0.749);
  margin-top: 5%;
  border: 2px solid rgba(255, 0, 47, 0.749);
  border-radius: 30px;
  color: aliceblue;
  padding: 10px;
  font-size: 30px;
}
.autos-variados input:hover{
  background: rgba(149, 0, 27, 0.749);
  margin: 5%;
  border: 2px solid rgba(249, 81, 112, 0.749);
  box-shadow: 2px 2px 7px 2px white;
  border-radius: 30px;
  color: aliceblue;
  padding: 10px;
  font-size: 35px;
}
.contenedor-publicida{
 background: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.contenedor-cotizacion{
  background: rgb(44, 42, 42);
  width: 45%;
  height: 500px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}
.imagen-cotizacion{
  background: rgb(28, 26, 26);
  width: 45%;
  height: 500px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}
.contenedor-presupuesto{
  background: rgb(101, 101, 101);
width: 100%;
height: 500px;
}




  