*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(42, 40, 40);
    color: aliceblue;
}
header{
  background: rgba(29, 27, 27, 0.9);
  width: 100%;
  
}
.contenedor-general-header{
    width: 100%;
    height: 100%;
    padding: 5px;
    background: rgb(29, 28, 28);
    display: flex;
}

/* REDES SOCIALES */
.contenedor-redes{
    width: 25%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content:space-between;
}
.contenedor-redes ul{
    list-style: none;
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-flow: row wrap;

}
.contenedor-redes ul li{
    background: rgb(255, 79, 79);
    margin: 5px;
    padding: 5px;
    border-radius: 15px 0px 15px 0px;
    border: 1px solid rgb(255, 79, 79);
    
}
.contenedor-redes ul li:hover{
    background: rgb(38, 36, 36);
    margin: 5px;
    padding: 5px;
    border-radius: 0px 15px 0px 15px;
    border: 1px solid rgb(38, 36, 36);
    box-shadow: 2px 2px 7px 2px white;
    
}
.contenedor-redes ul li i{
    text-align: center;
    font-size: 25px;
    color: aliceblue;
}
/* CONTENEDOR LOGO*/
.logo-web{
  
  width: 15%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

/* CONTENEDOR MENU*/
.contedor-menu-general{
  width: 60%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.contedor-menu{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}
.contedor-menu ul{
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
}
.contedor-menu ul li{
    background: rgb(246, 90, 90);
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    border-radius: 15px 0px 15px 0px;
    border: 2px solid rgb(246, 90, 90);
    box-shadow: 2px 2px 5px 2px white;
}
.contedor-menu ul li:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 0px 15px 0px 15px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 7px 2px white;
}

.contedor-menu ul li i{
    margin-right: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}



/* CARRUSEL FOTOS */
.carrousel{
    width: 100%;
    margin-top: 15px;
  }
  
  .conteCarrousel{
    width: 100%;
    height: 600px;
    overflow: hidden;
    text-align: center;
    
  
  }
  
  .itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
  }
  
  .itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
  }
  
  .itemCarrouselArrows > i:hover {
    cursor: pointer;
  }
  
  
  
  .conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
  }
  
  .itemCarrouselArrows > a > i{
    color: white;
  }
  
  /*MINI MENU*/
  .mini-menu{
 background: rgb(224, 224, 224);
 width: 100%;
 height: 300px;
 display: flex;
 flex-flow: row wrap;
 align-content: center;
 align-items: center;
 justify-content:space-evenly;
  }
.contenedor-iconos{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}  

 .contenedor-titulo{
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

 } 
.contenedor-chat, .contenedor-cotizaciones, .contenedor-resrva-turnos, .contenedor-cntacto{
  border: 2px solid black;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  font-size: 100px;
  color: #8d99ae;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}  

  /*FORMULARIO ENVIO */
  .contenedor-general-formulario{
    background: rgb(54, 51, 51);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

  }
 
  .contenedor-contacto{
    width: 40%;
    height: 600px;
    display: flex;
    justify-content: end;

  }
 form{
  width: 80%;
  padding: 20px;
  text-align: center;
 }

 form input {
  text-align: center;
  border:2px solid whitesmoke;
  border-radius: 0px 50px 50px 0px;
  width: 70%;
  height: 50px;
  margin-bottom: 2%;
 }

form i{
  background: rgb(41, 40, 40);
  border: 1px solid rgb(41, 40, 40);
  border-radius: 50px 0px 0px 50px;
  text-align: center;
  margin-bottom: 2%;
  font-size: 25px;
  padding-top: 9px;
  width: 50px;
  height: 50px;
}
 form textarea{
  
  border: 2px solid whitesmoke;
  width: 75%;
  height: 150px;
  border-radius: 5px;
 }
 form button{
  font-size: 30px;
  color: aliceblue;
  background: rgb(0, 98, 255);
  padding: 15px;
  border: 1px solid rgb(0, 98, 255);
  border-radius: 15px;
  margin: 15px;
  padding: 5px;
  width: 150px;
 }

 
  .contacto{
    background: rgb(34, 32, 32);
    width: 55%;
    height: 680px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content:center;
  }
  /* PUBLICIDAD AUTOS */
.autos-publicidad-general{
 width: 100%;
 height: 100%;
 margin-top: 300px;
 display: flex;
 flex-flow: row wrap;
 justify-content: center;
 align-content: center; 
} 
.autos-publicidad{
  background: rgb(255, 255, 255);
  width: 100%;
  height: 700px;
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.autos-publicidad input{
  background: rgba(255, 0, 47, 0.749);
  margin-top: 5%;
  border: 2px solid rgba(255, 0, 47, 0.749);
  border-radius: 30px;
  color: aliceblue;
  padding: 10px;
  font-size: 30px;
}
.autos-publicidad input:hover{
  background: rgba(149, 0, 27, 0.749);
  margin: 5%;
  border: 2px solid rgba(249, 81, 112, 0.749);
  box-shadow: 2px 2px 7px 2px white;
  border-radius: 30px;
  color: aliceblue;
  padding: 10px;
  font-size: 35px;
}
.contenedor-publicida{
 background: rgb(39, 34, 34);
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.contenedor-cotizacion{
   
  width: 45%;
  height: 500px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}
.contenedor-cotizacion input{
  text-align: center;
  width: 40%;
  font-size: 25px;
  color: white;
  padding: 5px;
  border: 2px solid #d80032;
  border-radius: 50px;
  background: #d80032;
}
.contenedor-cotizacion input:hover{
  text-align: center;
  width: 45%;
  font-size: 25px;
  color: white;
  padding: 7px;
  border: 2px solid #2b2d42;
  border-radius: 50px;
  background: #2b2d42;
  box-shadow: 2px 2px 7px 2px #8d99ae;
}

.imagen-cotizacion{
  width: 45%;
  height: 500px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}
.imagen-cotizacion input{
  text-align: center;
  width: 40%;
  font-size: 25px;
  color: white;
  padding: 5px;
  border: 2px solid #d80032;
  border-radius: 50px;
  background: #d80032;
}
.imagen-cotizacion input:hover{
  text-align: center;
  width: 45%;
  font-size: 25px;
  color: white;
  padding: 7px;
  border: 2px solid #2b2d42;
  border-radius: 50px;
  background: #2b2d42;
  box-shadow: 2px 2px 7px 2px #8d99ae;
}

.contenedor-presupuesto{
  background: rgb(45, 44, 44);
width: 100%;
height: 500px;
}




  